
{% extends "czo/base.html" %}

{% block title %}Data{% endblock %}

{% block body %}

<div class="" id="">

        {% if mynodes %}

              {% for nodes in mynodes %}

                    {% if nodes.sensor_set.all %}
                        {% for  sensor in nodes.sensor_set.all %}

                        <div class="">
                          <table class="table">
                            <thead>
                              <tr>
                                <th>Sr.</th>
                                <th>{{sensor}}</th>
                                 <th>Doc</th>
                              </tr>
                            </thead>
                            <tbody>
                    {% for  data1 in sensor.data_set.all %}

                          {{sensor.filter.all.count }}
                          {% if  data1.data  %}
                          <tr>
                            <td>  {{ forloop.counter }}  </td>
                            <td> {{data1.data}}  </td>
                            <td> {{data1.doc}} </a></td>
                          </tr>
                          {% endif %}


              {%endfor%}
                        </tbody>
                      </table>
                    </div>



                        {% endfor %}

                    {%endif%}

              {% endfor %}

        {% else %}


        {% endif %}


</div>

{% endblock %}

{% block body_right %}

<div class="" id="Right_Side">

  <!DOCTYPE html>
  <meta charset="utf-8">

  <link type="text/css" rel="stylesheet" href="/static/czo/rickshaw/rickshaw.min.css">
  <script src="/static/czo/rickshaw/vendor/d3.min.js"></script>
  <script src="/static/czo/rickshaw/vendor/d3.layout.min.js"></script>
  <script src="/static/czo/rickshaw/rickshaw.min.js"></script>
  <style>
  #chart_container {
          display: inline-block;
          font-family: Arial, Helvetica, sans-serif;
  }
  #chart {
          float: left;
  }
  #legend {
          float: left;
          margin-left: 15px;
          margin-top: 15px;
  }
  #offset_form {
          float: left;
          margin: 2em 0 0 15px;
          font-size: 13px;
  }
  #y_axis {
          float: left;
          margin-left: -53px;
          width: 0px;
  }
</style>

<div id="chart_container">
        <div id="y_axis"></div>
        <div id="chart"></div>
        <div id="legend"></div>
        <form id="offset_form" class="toggler">
                <input type="radio" name="offset" id="lines" value="lines" checked>
                <label class="lines" for="lines">lines</label><br>
                <input type="radio" name="offset" id="stack" value="zero">
                <label class="stack" for="stack">stack</label>
        </form>
</div>

<script>
var palette = new Rickshaw.Color.Palette();

var arr = Create_array(0);
var arr1 = Create_array(1);

function Data_return(j)
{
    if ( j==1)
    {
      return {name: "Sensor1", data: arr1, color: palette.color()};
    }
    else
    {
      return {name: "Sensor", data: arr, color: palette.color()} ;
    }

}

function Create_array(j) {
  arr = [];
  if (j==1)
  {
    {% for data in mysensor %}
      var dict = {};
      dict["x"] = parseInt({{ data.doc|date:"U"}});
      dict["y"] = parseInt({{data.data}});
      arr.push(dict);
    {%endfor%}
  }
  else
  {
    {% for data in mysensors %}
      var dict = {};
      dict["x"] = parseInt({{ data.doc|date:"U"}});
      dict["y"] = parseInt({{data.data}});
      arr.push(dict);
    {%endfor%}
  }
  return arr;
}


var graph = new Rickshaw.Graph( {
        element: document.querySelector("#chart"),
        width: 540,
        height: 240,
        renderer: 'line',
        series: [
        Data_return(1),
        Data_return(2)
        ]
} );

var x_axis = new Rickshaw.Graph.Axis.Time( { graph: graph } );

var y_axis = new Rickshaw.Graph.Axis.Y( {
        graph: graph,
        orientation: 'left',
        tickFormat: Rickshaw.Fixtures.Number.formatKMBT,
        element: document.getElementById('y_axis'),
} );

var legend = new Rickshaw.Graph.Legend( {
        element: document.querySelector('#legend'),
        graph: graph
} );

var offsetForm = document.getElementById('offset_form');

offsetForm.addEventListener('change', function(e) {
        var offsetMode = e.target.value;

        if (offsetMode == 'lines') {
                graph.setRenderer('line');
                graph.offset = 'zero';
        } else {
                graph.setRenderer('stack');
                graph.offset = offsetMode;
        }
        graph.render();

}, false);

graph.render();

</script>


</div>




{% endblock body_right %}
