<!DOCTYPE html>
<html lang="en">
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Kritsnam Technologies - An IoT Company">
    <meta name="author" content="Vijendra Kushwaha, Sagar Setu">
    <link rel="shortcut icon" href="{% static '/assets/img/favicon.png' %}">
    <title>Kritsnam Technologies</title>

    <!-- Bootstrap core CSS -->
    <script type="text/javascript" src="{% static '/czo/jquery-1.11.3.js' %}"></script>
    <script type="text/javascript" src="{% static '/czo/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static '/czo/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/czo/bootstrap-theme.min.css' %}">
    <link rel="javascript" type="text/js" href= "{% static '/czo/style.js' %}">
    <link rel="stylesheet" type="text/css" href= "{% static '/czo/main.css' %}">
    <link rel="stylesheet" href="{% static '/czo/fonts/font-awesome.min.css' %}">
    <!-- Custom styles for this template -->
  </head>

<body>

<a name="top"></a>
<div id="wrapper">
    <!-- Fixed navbar -->
  <div id="header">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="http://www.kritsnam.in">KRITSNAM TECHNOLOGIES</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#top">HOME</a></li>
            <li class="dropdown">
              <a href="#technology" class="dropbtn">TECHNOLOGY</a>
		<div class="dropdown-content">
                <a href="#lpwan">LPWAN</a>
                <a href="#gprs">GPRS</a>
                <a href="#cloud">CLOUD</a>
              	</div>
            </li>

            <li class="dropdown">
              <a href="#solutions" class="dropbtn">SOLUTIONS</a>
		<div class="dropdown-content">
                <a href="#environ">Environment</a>
                <a href="#genI">Generic I</a>
                <a href="#genII">Generic II</a>
                <a href="#gateway">Gateways</a>
              </div>
            </li>

            <li class="dropdown">
              <a href="#about" class="dropbtn">ABOUT US</a>
              <div class="dropdown-content">
                <a href="#vision">Vision</a>
                <a href="#company">Company</a>
                <a href="#team">Team</a>
              </div>
            </li>

            <li>
              <a data-toggle="modal" data-target="#myModal" href="#myModal">
                CONTACT US
              </a>
            </li>

            <li>
              <a href="/czo">
                CZO
              </a>
            </li>

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div><!-- /header -->


	<div id="headerwrap">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2" itemscope itemtype="http://schema.org/Organization">
  				<h1><b>KRITSNAM TECHNOLOGIES</b></h1>
  				<h2>Hydro-Geo-Environ</h2>
          <h2>IoT Systems</h2>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- headerwrap -->


  <div id="body">

  <div id="lg">
    <div class="container">
      <div class="row centered" style="padding-bottom:30px;">
        <div class="col-lg-8 col-lg-offset-2">
          <h3>IoT For All</h3>
          <h5>With state-of-the-art <b>wireless connectivity solutions</b> built from the ground up </h5>
		      <h5>for developing nations, Kritsnam is ready to usher the <b>base of the pyramid</b></h5>
		      <h5>into an era of seamless interaction of</h5>
		      <h5><b>Everyone with Everything</b></h5>
        </div>
      </div><!-- row -->
    </div><!-- container -->
  </div><!-- r wrap -->


    <a name="technology"></a>
    <div id="lb">
    <div class="container w" style="padding-bottom:30px;">
  		<div class="row centered">
        <div class="col-lg-8 col-lg-offset-2">
          <h3>TECHNOLOGY</h3>
          <p>Let's get practical</p>
        </div>


  			<div class="col-lg-4">
          <a name="lpwan"></a>
  				<h4>LPWAN</h4>
  				<p>To provide last-mile connectivity to every farm and field, Kritsnam has developed its own stack of Low-Power Wide Area Network Technology.</p>
				<p><h5>20 Kms range. 20+ years on a button cell. </h5>
				<h5>No longer too much to ask.</h5></p>
  			</div><!-- col-lg-4 -->

			<div class="col-lg-4">
          <a name="cloud"></a>
  				<h4>CLOUD</h4>
  				<p>Ready to accomodate a million simultaneous connections. Future ready in terms of scalability and security.</p>
  			</div><!-- col-lg-4 -->

  			<div class="col-lg-4">
          <a name="gprs"></a>
  				<h4>GPRS</h4>
  				<p>For stand-alone systems in a growing market.</p>
				<p>With all the security features, power optimization and plug and play connectivity to Kritsnam's cloud. Supports over-the-air firmaware upgrades.</p>
  			</div><!-- col-lg-4 -->

  		</div><!-- row -->
  	</div><!-- container -->
  </div><!-- wrap lb -->


  	<!-- PORTFOLIO SECTION -->
  	<a name="solutions"></a>
  	<div id="r">
  		<div class="container" style="padding-bottom:30px;">
  			<div class="row centered">
          <div class="col-lg-8 col-lg-offset-2">
  				  <h3>SOLUTIONS</h3>
            <p>-----------------
            </p>
          </div>


  				<div class="col-lg-6">
  				<a name="environ"></a>
  					<h4>Environment</h4>
  					<p>Monitoring solutions</p>
            <p> The first step to tackle the water and weather crisis is the efficient monitoring to generate data for analysis and further actions. </p>
            <p> Based on its LPWAN Technology, Kritsnam has developed cost-effective hydro-geo-environemtnal instruments for paramteres like water level, temperature, soil moisture and humidity. </p>
  				</div>

  				<div class="col-lg-6">
  				<a name="genI"></a>
  					<h4>Dhaara Lite</h4>
  					<p>The power-efficient one</p>
            <p> Dhaara Lite is the flagship wireless sensor node by Kritsnam. With the ability to last 20+ years on a button cell for typical monitoring tasks, it has the ability to establish maintenance free cheap sensor networks. </p>
            <p> With a range of over 1 Km, Dhaara Lite is set to tranform the Indian agricultural setup and smart metering domain. </p>
  				</div>

  				<div class="col-lg-6">
				<a name="genII"></a>
  					<h4>Dhaara LR</h4>
  					<p>The long range one </p>
            <p> Dhaara LR, to be released by Q2 2017, promises to bring the benefits of wireless connectivity to the most-difficult to reach places with a 20 Km range. </p>
            <p> All that at a minor penalty to power efficiency compared to Dhaara Lite. </p>
  				</div>


          <div class="col-lg-6">
  				<a name="gateway"></a>
  					<h4>Gateways</h4>
   					<p>The backbone of our wireless services </p>
            <p> The wireless nodes developed by Kritsnam depend on its Gateway for backhauling the data to the cloud. Kritsnam has developed smartly managed gateways that can connect thousands of node over its proprietay extremely light-weight protocol. </p>
            <p> The gateways are capable of operating over wide-range of backhaul networks: From intermittent unrealiable 2G connections at remote locations to broadband connections at areas with dense deployments </p>
 				</div>

  			</div><!-- row -->
  		</div><!-- container -->
  	</div><!-- DG -->


    <!-- FEATURE SECTION -->
    <a name="about"></a>
    <a name="vision"></a>
    <div class="container wb" style="padding-bottom:20px; padding-top:20px;">
      <div class="row centered">
        <div class="col-lg-8 col-lg-offset-2">
          <h3>VISION</h3>
          <p>To empower the developing nations with affordable and reliable M2M communication infrastructure</p>
        </div>

        <div class="col-lg-4">
          <h4>Smart Agriculture</h4>
          <p>With farming practices based on real-time monitoring of the farm and its produce, farmers around the world are shifting to this scientific approach to productivity increase.</p>
        </div><!-- col-lg-4 -->


        <div class="col-lg-4">
          <h4>Smart Hydro</h4>
          <p>WIth simultaneous floods and droughts in adjoining areas, it is high time for the world to shift to data-driven approach to water resource management.</p>
        </div><!-- col-lg-4 -->

        <div class="col-lg-4">
          <h4>M2M Communication</h4>
          <p>There is so much more you can do! Smart cities, Smart energy, Transport fleet management, Home automation and anything else you can think of!</p>
        </div><!-- col-lg-4 -->


        <div class="col-lg-2"></div>
        <div class="col-lg-10 col-lg-offset-1">
          <img class="img-responsive" src="{% static '/assets/img/techStack.png' %}" alt="Our vision to provide end-to-end solutions" style="padding:30px"></img>
        </div>
      </div><!-- row -->
    </div><!-- container -->



	<a name="company"></a>
  <div id="r">
    <div class="container" style="padding-bottom:30px;">
      <div class="row centered">
        <div class="col-lg-8 col-lg-offset-2">
          <h4>WE ARE ENGINEERS</h4>
          <p>Our team consists of engineers from various backgrounds, brought together by their concern of the water crisis currently affecting the bottom 30% of the pyramid, and in near future threatening the very habitability that makes our plant unique</p>
        </div>
      </div><!-- row -->
    </div><!-- container -->
  </div><!-- r wrap -->


  <a name="team"></a>
	<div id="dg">
    <div class="container w" style="padding-bottom:30px;">
  		<div class="row centered">
    		<div class="col-lg-3">
  				<img class="img-circle" src="{% static '/assets/img/harsha.jpg' %}" width="110" height="110" alt="Harsha's mugshot">
  				<h4>K Sri Harsha</h4>
				<h4>Hydrology and Operations</h4>
  				<p>B.Tech. - M.Tech., Civil Engineering, IIT Kanpur</p>
  				<p>
            <div class="centered">
              <a href="https://in.linkedin.com/in/sriharshakaru" target='_blank'><i class="fa fa-linkedin"></i></a>
            </div>
        </p>
  			</div><!-- col-lg-3 -->

  			<div class="col-lg-3">
  				<img class="img-circle" src="{% static '/assets/img/sagar.jpg' %}" width="110" height="110" alt="Sagar's mugshot">
  				<h4>Sagar Setu</h4>
				<h4>Embedded Systems</h4>
  				<p>B.Tech. - M.Tech., Aerosapce Engineering, IIT Kanpur</p>
  				<p>
            <div class="centered">
              <a href="https://in.linkedin.com/in/sagarsetu" target='_blank'><i class="fa fa-linkedin"></i></a>
            </div>
          </p>
  			</div><!-- col-lg-3 -->

  			<div class="col-lg-3">
  				<img class="img-circle" src="{% static '/assets/img/vijendra.jpg' %}" width="110" height="110" alt="Vijendra's mugshot">
  				<h4>Vijendra Kushwaha</h4>
				  <h4>Backend Systems</h4>
  				<p>B.Tech. - M.Tech., Computer Science & Engineering, IIT Kanpur</p>
  				<p>
            <div class="centered">
              <a href="https://in.linkedin.com/in/vijendrakushwaha" target='_blank'><i class="fa fa-linkedin"></i></a>
            </div>
          </p>
  			</div><!-- col-lg-3 -->

  			<div class="col-lg-3">
  				<img class="img-circle" src="{% static '/assets/img/prudhvi.jpg' %}" width="110" height="110" alt="Prudhvi's mugshot">
  				<h4>Prudhvi Sagar</h4>
				<h4>RF and PCB Design</h4>
  				<p>B.Tech. - M.Tech., Electrical Engineering, IIT Kanpur.</p>
  				<p>
            <div class="centered">
              <a href="https://www.linkedin.com/{_linkedin}" target='_blank'><i class="fa fa-linkedin"></i></a>
              <!--
		<a href="https://www.twitter.com/{_twitter}" target='_blank'><i class="fa fa-twitter"></i></a>
                <a href="https://www.facebook.com/{_facebook}" target='_blank'><i class="fa fa-facebook"></i></a>
	      -->
            </div>
          </p>
  			</div><!-- col-lg-3 -->

  		</div><!-- row -->
  	</div><!-- container -->
  </div><!-- w wrap -->


	<div id="lg">
		<div class="container">
			<div class="row centered">
				<h4>OUR AMAZING COLLABORATORS</h4>
				<br>
				<br>
				<div class="col-lg-4" style="padding-top:40px;">
					<a href="http://www.maxbotix.com" target='_blank'> <img src="{% static '/assets/img/c01.gif' %}" alt="Maxbotix Logo"> </a>
				</div>
				<div class="col-lg-4">
					<a href="http://www.iitk.ac.in/" target='_blank'> <img src="{% static '/assets/img/iitk.png' %}" alt="IIT Kanpur logo" height="150" width="150"> </a>
				</div><!-- row -->
				<div class="col-lg-4">
					<a href="http://mhrd.gov.in/" target='_blank'> <img src="{% static '/assets/img/mhrd.png' %}" alt="Ministry of HUman Resource and Development - logo"> </a>
				</div><!-- row -->
				<br>
				<br>
				<br>
				<br>
		</div><!-- container -->
	</div><!-- dg -->
	</div>



</div> <!-- close body -->


  <!-- FOOTER -->
  <div id="f">
      <div class="centered">
      <div id="top-footer">
        <ul class="list-unstyled" id="bottom-footer">
          <li><a href="index.html#technology">Technology</a>
          <!--
          <li><a href="index.html#"></a>
          -->
          <li><a href="index.html#about">About</a>
          <li><a href="index.html#solutions">Solutions</a>
        </ul>
      </div>
      </div>
  </div>

  <div id="foo">
    <div class="centered">
      <div id="footer">
        <nav>
          <!-- remove padding -->
          <a style="padding-left:30px;" href="https://www.linkedin.com/kritsnam" target='_blank'><i class="fa fa-linkedin"></i></a>
          <a style="padding-left:30px;" href="https://www.facebook.com/kritsnam" target='_blank'><i class="fa fa-facebook"></i></a>
          <a style="padding-left:30px;" href="https://www.twitter.com/kritsnam" target='_blank'><i class="fa fa-twitter"></i></a>
      </nav>
      </div>
    </div>
  </div>


  <!-- FOOTER -->
  <div id="ffooter">
    <div class="centered">
      <ul class="list-unstyled" id="bottom-footer">
      <!--
        <li><a href="privacy.html">Privacy Policy</a></li>
        <li><a href="terms.html">Terms of Use</a></li>
      -->
        <li>Copyright &#169; 2016 Kritsnam Technologies</li>
      </ul>
    </div>
  </div>

</div><!-- /#wrapper -->


	<!-- MODAL FOR CONTACT -->
	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="myModalLabel">Contact Us</h4>
	      </div>
	      <div class="modal-body">
		        <div class="row centered">
				<p>We would love to hear from you</p>
				<p>
				<div id="organization" itemscope itemtype="http://schema.org/Organization">
					<span itemprop="name"><h3>Kritsnam Technologies Private Limited</h3><br/></span>
					    <span itemprop="location" itemscope itemtype="http://schema.org/Place">
					    <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
					        <h4>Main Address:</h4>
						<span itemprop="streetAddress">SIIC, IIT Kanpur</span>,
						<span itemprop="addressLocality">Kanpur, UP, India</span>,
						<span itemprop="postalCode">208016</span>
					    </div>
					    <h4>Tel:</h4>
						<span itemprop="telephone" content="+915122595321">(+91)512-259-5321</span><br />
					    <h4>Email:</h4>
						<span itemprop="email" content="contact@kritsnam.in">contact(at)kritsnam.in</span><br />
					</span>
				</div>
				</p>
			<div id="mapwrap">
		<iframe height="300" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d14281.235006601011!2d80.23148956458742!3d26.510192826422962!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1456160449200"></iframe>
					</div><!-- end mapwrap -->
		        </div><!-- /.row centered -->
	      </div> <!-- /.modal body -->
	      <div class="modal-footer">
	        <button type="button" class="btn btn-danger" data-dismiss="modal">Save & Go</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  </body>
</html>
