{% extends "czo/base.html" %}

{% block title %}Sensor{% endblock %}

{% block body %}

<div class="" id="Left_Side">

{% if mynodes %}

        <div class="">
          <table class="table">
            <thead>
              <tr>
                <div class="" id="sensor_table">
                  <th>Sensor_name</th>
                </div>
                <div class="" id="last_update">
                  <th>Last Update</th>
                </div>
                <div class="" id="plot_table">
                  <th>Plot</th>
                </div>
              </tr>
            </thead>
            <tbody>

              {% for nodes in  mynodes %}
                  {% if nodes.sensor_set.all %}
                            {% for  node in nodes.sensor_set.all %}
                            <tr>
                              <div class="" id="sensor_table">
                                    <td><a href ="/czo/data/?sensor_id={{node.id}}"> {{node.name}}  </a></td>
                              </div>
                              <div class="" id="last_update">
                                  {%if node.data_set.all%}
                                        {%for data in node.data_set.all %}
                                        {%if forloop.counter == 1 %}

                                          <td> {{data.doc}} </a></td>

                                        {%endif%}
                                        {%endfor%}
                                  {%else%}
                                  <td> Not Updated </a></td>
                                  {% endif %}
                              </div>
                              <div class="" id="plot_table">
                                  <td>
                                  <a href ="/czo/sensor/?node_id={{nodeName}}&sensor_id={{node.id}}"> <button >Plot</button> </a>
                                  </td>
                              </div>
                            </tr>

                        {%endfor%}
                        {%endif%}
                    {% endfor %}

                  </tbody>
                </table>
              </div>

{% else %}


{% endif %}

</div>


{% endblock %}



{% block body_right %}

{%if mynodes%}

<div class="" id="Right_Side">
  <!DOCTYPE html>
  {% load staticfiles %}
  <meta charset="utf-8">
  <script src="{% static '/czo/react.min.js' %}"></script>
  <script src="{% static '/czo/react-dom.min.js' %}"></script>
  <script src="{% static '/czo/browser.min.js' %}"></script>
  <link type="text/css" rel="stylesheet" href="{% static '/czo/rickshaw.min.css' %}">
  <script src="{% static '/czo/d3.min.js' %}"></script>
  <script src="{% static '/czo/d3.layout.min.js' %}"></script>
  <script src="{% static '/czo/rickshaw.min.js' %}"></script>
  <style>
  <h3> Graph of the last ___ Days </h3>
  <style>
  #chart_container {
          position: relative;
          display: inline-block;
          font-family: Arial, Helvetica, sans-serif;
  }
  #chart {
          display: inline-block;
          margin-left: 40px;
          margin-right: 10px;
          margin-top: 40px;
  }

  .rickshaw_graph .x_tick .title {
    bottom: -24px;
    left: -18px;
  }

  #plot_btn {
    color: inherit;
  }

  #plot_range {
    margin-top: 40px;
    margin-left: 60px;
  }

  #y_axis {
          position: absolute;
          top: 80;
          bottom: 0;
          width: 40px;
  }
  #csv{
          margin-left: 60px;
          margin-right: 10px;
          margin-top: 10px;
  }

  </style>
  <div id="chart_container">
          <div id="y_axis"></div>
          <div id="chart"></div>
  </div>
  <script>
  var palette = new Rickshaw.Color.Palette();
  var arr = [];
  var temp = [];
  {% for data in datas|dictsort:"doc"  %}
    var dict = {};
    dict["x"] = parseInt({{ data.doc|date:"U"}});
    dict["y"] = parseInt({{data.data}});
    arr.push(dict);
  {%endfor%}
  var graph = new Rickshaw.Graph( {
          element: document.querySelector("#chart"),
          width: 550,
          height: 250,
          series: [
                          {

                                  data: arr,
                                  color: palette.color()
                          }

                    ]
  } );
  var x_axis = new Rickshaw.Graph.Axis.Time( { graph: graph } );
  var y_axis = new Rickshaw.Graph.Axis.Y( {
          graph: graph,
          orientation: 'left',
          tickFormat: Rickshaw.Fixtures.Number.formatKMBT,
          element: document.getElementById('y_axis'),
  } );
  function plot(i)
    {
      while (arr.length > 0) {
      arr.pop();
      }

      while (temp.length > 0) {
      temp.pop();
      }

      {% for data in datas  %}
        var dict = {};
        if ({{forloop.counter}} <= i)
          {
            dict["x"] = parseInt({{ data.doc|date:"U"}});
            dict["y"] = parseInt({{data.data}});
            temp.push(dict);
              console.log(temp);
          }
      {%endfor%}

      for (var i = 0; i < temp.length; i++) {
        arr[i] = temp[temp.length - i -1];
      }

    }

    function final(i) {
    plot(i);
    graph.render();
  }

  graph.render();
  </script>
  <br>
  </div>

  <div class="" id="plot_range">
    <strong>
   <h4>No of data points : <input type="text" id="plot_data" />
    <button onclick="final(document.getElementById('plot_data').value)" id="plot_btn"> Plot </button>
    <script type="text/javascript">
      document.getElementById("plot_data")
          .addEventListener("keyup", function(event) {
          event.preventDefault();
          if (event.keyCode == 13) {
              document.getElementById("plot_btn").click();
          }
      });
    </script>
  </h4>
  </strong>
  </div>


  <div class="" id="csv">
    <h3>
    <a href ="/czo/csv/?sensor_id={{sensor_id}}"> Click </a> Here to download
    your data as .csv file
    </h3>
  </div>

{%endif%}
{% endblock body_right %}
