{% extends "czo/base.html" %}

{% block title %}Sensor{% endblock %}

{% block body %}

<div class="" id="Left_Side">

{% if mynodes %}

<div class="" id="sensors_detail">
  <h4>All Nodes :</h4>
</div>

          <table class="table" cellpading="0" cellspacing="1" border="1">
              <thead>
                <tr>
                  <div class="" id="sensor_table">
                    <th>Node_name</th>
                  </div>
                  <div class="" id="last_update">
                    <th>Last Update</th>
                  </div>
                  <div class="" id="plot_table">
                    <th>Plot</th>
                  </div>
                </tr>
              </thead>

            <tbody>
                {% for node in  mynodes %}
                            {% if node.id == sensor_id %}
                                <tr style="background-color: #d6eaf8">
                            {% else %}
                                  <tr>
                              {%endif%}

                                  <div id="sensor_table">

                                      <td><a href ="/czo/data/?node_id={{node.id}}"> {{node.name}}  </a></td>
                                  </div>

                                  <div id="last_update">
                                      {%if datas %}

                                      {% for data in datas %}
                                              {%if forloop.counter == 1 %}
                                              <td> {{data.timestamp}} </a></td>
                                              {% endif %}
                                      {% endfor %}
                                      {%else%}
                                      <td> Not Updated </a></td>
                                      {% endif %}
                                  </div>

                                  <div id="plot_table">
                                      <td>
                                          <a href ="/czo/nodes/?id={{node.id}}"> <button >Plot</button> </a>
                                      </td>
                                  </div>

                            </tr>

                      {% endfor %}

                </tbody>
            </table>


            <div id="csv">
                <h4>
                <a href ="/czo/csv/?sensor_id={{sensor_id}}"> Click </a> Here to download
                your data as .csv file
              </h4>
            </div>


{% else %}


{% endif %}

</div>


{% endblock %}

{% block body_right %}

{%if mynodes%}

<div class="" id="Right_Side">
  <!DOCTYPE html>
  {% load staticfiles %}
  <meta charset="utf-8">
  <script src="{% static '/js/browser.min.js' %}"></script>
  <link type="text/css" rel="stylesheet" href="{% static '/css/rickshaw.min.css' %}">
  <script src="{% static '/js/d3.min.js' %}"></script>
  <script src="{% static '/js/d3.layout.min.js' %}"></script>
  <script src="{% static '/js/rickshaw.min.js' %}"></script>
  <script src="https://momentjs.com/downloads/moment.js"></script>
  <script>
      moment().format();
  </script>
  <div class="data_range1">
    <button type="button" class="btn btn-primary" onclick="type_graph(1)" id="plot_btn" style="margin-left:12px"> Data </button>
    <button type="button" class="btn btn-primary" onclick="type_graph(2)" id="plot_btn"style="margin-left:12px"> Rssi </button>
    <button type="button" class="btn btn-primary" onclick="type_graph(3)" id="plot_btn"style="margin-left:12px"> Battery </button>
  </div>

  <style>

  #chart_container {
          position: relative;
          display: inline-block;
          font-family: Arial, Helvetica, sans-serif;
  }
  #chart {
          display: inline-block;
          margin-left: 30px;
          margin-right: 10px;
          margin-top: 10px;
  }

  .rickshaw_graph .x_tick .title {
    bottom: -24px;
    left: -18px;
  }

  #plot_btn {
    color: inherit;
  }

  #plot_range {
    margin-top: -35px;
    margin-left: 50px;
    width: 300px;
  }

  #y_axis {
          position: absolute;
          top: 10px;
          bottom: 0;
          width: 40px;
          margin-left: -10px;
  }
  #csv {
    margin-left: auto;
    margin-top: 40px;

  }

  #btn_range {
    margin-left: 318px;
    margin-top: 40px;

  }

  #filtering1{
          margin-left: 200px;
          margin-top: 10px;
  }

#sensors_detail {
  margin-bottom: 40px:auto;
  height: 40px;
}

  #data_range
  {
    margin-top: 15px;
    margin-left: 50px;
  }

  .data_range1
  {
    margin-top: -10px;
    margin-bottom: 10px;
    margin-left: 345px;
  }



  </style>
  <div id="chart_container">
          <div id="y_axis"></div>
          <div id="chart"></div>
  </div>

</div>

<div class="" id="btn_range">
  <button onclick="final(96)" id="plot_btn"> 1 Day </button>
  <button onclick="final(192)" id="plot_btn"> 2 Day </button>
  <button onclick="final(288)" id="plot_btn"> 3 Day </button>
  <button onclick="final(384)" id="plot_btn"> 4 Day </button>
  <button onclick="final(672)" id="plot_btn"> 1 Week</button>
</div>

<div id="plot_range">
<strong>
<h5>Data points: <input type="text" id="plot_data" style="width:160px;" /> <br>
<div class="" id="filtering1">
  <button onclick="final(document.getElementById('plot_data').value)" id="plot_btn"> Plot </button>
</div>
<script type="text/javascript">
  document.getElementById("plot_data")
      .addEventListener("keyup", function(event) {
      event.preventDefault();
      if (event.keyCode == 13) {
        if (document.getElementById('plot_data').value == parseInt(document.getElementById('plot_data').value, 10)){
            document.getElementById("plot_btn").click();
        }
        else {
          alert("No of data points should be a integer");
        }
      }
  });
</script>
</h5>
</strong>

</div>
<div class="" id="data_range">
</div>

  <script>
  var arr = [];
  var temp = [];
  var date = [];

  {% for data in datas|dictsort:"timestamp"  %}
    var dict = {};
    dict["x"] = parseInt({{ data.timestamp|date:"U"}});
    dict["y"] = parseInt({{data.data}});
    arr.push(dict);
  {%endfor%}

  var i = arr.length;
  var dateString = moment.unix(arr[0].x).format("MM/DD/YYYY");
  var dateString1 = moment.unix(arr[i-1].x).format("MM/DD/YYYY");
  var s = "<h4>Plot of Datapoint Vs Time from " + dateString  +" To " + dateString1 + "</h4>" ;
  document.getElementById('data_range').innerHTML = s;


  var palette = new Rickshaw.Color.Palette();
  var graph = new Rickshaw.Graph( {
          element: document.querySelector("#chart"),
          width: 550,
          height: 250,
          series: [
                          {

                                  data: arr,
                                  color: palette.color()
                          }

                    ]
  } );

  var x_axis = new Rickshaw.Graph.Axis.Time( { graph: graph } );
  var y_axis = new Rickshaw.Graph.Axis.Y( {
          graph: graph,
          orientation: 'left',
          label: {
                  text: 'ms',
                  color: 'black',
                  opacity: 0.5,
                  fontSize: '12px',
                  offsetX: '1em',
                  offsetY: '0em',
                },
          tickFormat: Rickshaw.Fixtures.Number.formatKMBT,
          element: document.getElementById('y_axis'),
  } );

    graph.render();

  function plot(i,j)
    {
      while (arr.length > 0) {
      arr.pop();
      }

      while (date.length > 0) {
      date.pop();
      }

      while (temp.length > 0) {
      temp.pop();
      }

      {% for data in datas  %}
        var dict = {};
        var dict1 = {};
        if ({{forloop.counter}} <= i)
          {
            if (j==1){
              dict["x"] = parseInt({{ data.timestamp|date:"U"}});
              dict["y"] = parseInt({{data.data}});
              temp.push(dict);
            }
            if (j==2){
              dict["x"] = parseInt({{ data.timestamp|date:"U"}});
              dict["y"] = parseInt({{data.rssi}});
              temp.push(dict);
            }
            if (j==3){
              dict["x"] = parseInt({{ data.timestamp|date:"U"}});
              dict["y"] = parseInt({{data.battery}});
              temp.push(dict);
            }
          }

      {%endfor%}

      for (var i = 0; i < temp.length; i++) {
        arr[i] = temp[temp.length - i -1];
      }

      var dateString = moment.unix(arr[0].x).format("MM/DD/YYYY");
      var dateString1 = moment.unix(arr[i-1].x).format("MM/DD/YYYY");

      var s = "<h4>Plot of Datapoint Vs Time from " + dateString  +" To " + dateString1 + "</h4>" ;
      document.getElementById('data_range').innerHTML = s;


    }

    function final(i) {
    plot(i,1);
    graph.render();
  }

  function type_graph(j) {
    plot(arr.length,j);
    graph.render();
  }

  </script>
  <br>

{%endif%}
{% endblock body_right %}
