{% extends "czo/base.html" %}

{% block title  %} AddNode {% endblock  %}

{% block body  %}

<div class="container-fluid">




      <form class="form-horizontal", action="", method="post" ,enctype="multipart/form-data">
        {% if error_message %}
            <h3><strong>  &nbsp       -------------------             {{ error_message }}    ----------------   </strong></h3>
        {% endif %}
            {% csrf_token %}
            {% include "czo/AddNode.html" %}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                      <br>
                      <button type="submit" class="btn btn-success"> Add </button>

                </div>
            </div>
      </form>



</div>

{% endblock  %}



{% block body_right %}

<div class="" id="Right_Side">

  <h3> Here are something that can help you </h3>
    <p>
        We made a help page to help you throughout.
        We will gonna put some suggestion for you here.
    </p>
</div>




{% endblock body_right %}
