{% extends "czo/base.html" %}

{% block title %}Sensor{% endblock %}

{% block body %}

<div class="" id="Left_Side">

{% if mynodes %}

        <div class="">
          <table class="table">
            <thead>
              <tr>
                <div class="" id="sensor_table">
                  <th>Sensor_name</th>
                </div>
                <div class="" id="last_update">
                  <th>Last Update</th>
                </div>
                <div class="" id="plot_table">
                  <th>Plot</th>
                </div>
              </tr>
            </thead>
            <tbody>

              {% for nodes in  mynodes %}
                  {% if nodes.sensor_set.all %}
                            {% for  node in nodes.sensor_set.all %}
                            <tr>
                              <div class="" id="sensor_table">
                                    <td><a href ="/czo/data/?sensor_id={{node.id}}"> {{node.name}}  </a></td>
                              </div>
                              <div class="" id="last_update">
                                  {%if node.data_set.all%}
                                        {%for data in node.data_set.all %}
                                        {%if forloop.counter == 1 %}

                                          <td> {{data.doc}} </a></td>

                                        {%endif%}
                                        {%endfor%}
                                  {%else%}
                                  <td> Not Updated </a></td>
                                  {% endif %}
                              </div>
                              <div class="" id="plot_table">
                                  <td>
                                  <a href ="/czo/sensors/?id={{node.id}}"> <button >Plot</button> </a>
                                  </td>
                              </div>
                            </tr>

                        {%endfor%}
                        {%endif%}
                    {% endfor %}

                  </tbody>
                </table>
              </div>

{% else %}


{% endif %}

</div>


{% endblock %}



{% block body_right %}

{%if mynodes%}

<div class="" id="Right_Side">
  <!DOCTYPE html>
  {% load staticfiles %}
  <meta charset="utf-8">
  <script src="{% static '/czo/react.min.js' %}"></script>
  <script src="{% static '/czo/react-dom.min.js' %}"></script>
  <script src="{% static '/czo/browser.min.js' %}"></script>
  <link type="text/css" rel="stylesheet" href="{% static '/czo/rickshaw.min.css' %}">
  <script src="{% static '/czo/d3.min.js' %}"></script>
  <script src="{% static '/czo/d3.layout.min.js' %}"></script>
  <script src="{% static '/czo/rickshaw.min.js' %}"></script>
  <style>
  <h3> Graph of the last ___ Days </h3>
  <style>
  #chart_container {
          position: relative;
          display: inline-block;
          font-family: Arial, Helvetica, sans-serif;
  }
  #chart {
          display: inline-block;
          margin-left: 40px;
          margin-right: 10px;
          margin-top: 40px;
  }
  #offset_form {
          margin-top: 40px;
          margin-left: 40px;
          font-size: 15px;
  }
  #y_axis {
          position: absolute;
          top: 77;
          bottom: 0;
          width: 40px;
  }
  #csv{
          margin-left: 60px;
          margin-right: 10px;
          margin-top: 10px;
  }
  </style>
  <div id="chart_container">
          <div id="y_axis"></div>
          <div id="chart"></div>
          <div id="legend"></div>
          <form id="offset_form" class="toggler">
                  <input type="radio" name="offset" id="lines" value="lines" checked>
                  <label class="lines" for="lines">lines</label><br>
                  <input type="radio" name="offset" id="stack" value="zero">
                  <label class="stack" for="stack">stack</label>
          </form>
  </div>
  <script>
  var palette = new Rickshaw.Color.Palette();
  var arr = [];
  {% for data in datas|dictsort:"doc"  %}
    var dict = {};
    dict["x"] = parseInt({{ data.doc|date:"U"}});
    dict["y"] = parseInt({{data.data}});
    arr.push(dict);
  {%endfor%}
  var graph = new Rickshaw.Graph( {
          element: document.querySelector("#chart"),
          width: 550,
          height: 250,
          series: [
                          {

                                  data: arr,
                                  color: palette.color()
                          }

                    ]
  } );
  var x_axis = new Rickshaw.Graph.Axis.Time( { graph: graph } );
  var y_axis = new Rickshaw.Graph.Axis.Y( {
          graph: graph,
          orientation: 'left',
          tickFormat: Rickshaw.Fixtures.Number.formatKMBT,
          element: document.getElementById('y_axis'),
  } );
  var offsetForm = document.getElementById('offset_form');
  offsetForm.addEventListener('change', function(e) {
          var offsetMode = e.target.value;

          if (offsetMode == 'lines') {
                  graph.setRenderer('line');
                  graph.offset = 'zero';
          } else {
                  graph.setRenderer('stack');
                  graph.offset = offsetMode;
          }
          x_axis.render();
          y_axis.render();
          graph.render();
  }, false);
  x_axis.render();
  y_axis.render();
  graph.render();
  </script>
  <br>
  </div>
  <div class="" id="csv">
    <h3>
    <a href ="/czo/csv/?sensor_id={{sensor_id}}"> Click </a> Here to download
    your data as .csv file
    </h3>
  </div>

{%endif%}
{% endblock body_right %}
