{% extends "czo/base_login.html" %}

{% block title %}Log In{% endblock %}

{% block body %}

<div class="set_pass_field">

<div class="centered">

<div class="container">

    <div class="row">
        <div class="col-sm-12 col-md-6">

                <div class="panel-body">
                    <h4>Set new pass</h4>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="#" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="id_username">
                                otp:
                            </label>
                            <div class="col-sm-10">
                                <input id="id_username" maxlength="30" name="otp" type="text" placeholder="6 Digit OTP">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="id_password">
                                new_pass:
                            </label>
                            <div class="col-sm-10">
                                <input id="id_password" maxlength="30" name="New_pass" type="password" placeholder="Atleast 8 char and num long">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-5 col-sm-15">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
            </div>
        </div>
    </div>

</div>

</div>

</div>

{% endblock %}
