<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title  %}Kristnam{% endblock  %}</title>

    {% load staticfiles %}

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js">
    <link rel="stylesheet" type="text/css" href= "{% static '/chain/style.css' %}">
  </head>


  <body>
          <nav class="navbar navbar-inverse">
                    <div class="collapse navbar-collapse" id="#topNavbar">
                            <ul class="nav navbar-nav">
                                    <li class="">
                                          <a href="{% url 'chain:index' %}">
                                            <span class = "glyphicon glyphicon-home" area-hidden = "true" > </span> &nbsp;Home
                                          </a>
                                    </li>
                                    <li class="">
                                          <a href="{% url 'chain:sensors' %}">
                                            <span class = "glyphicon glyphicon-cloud" area-hidden = "true" > </span> &nbsp; Sensors
                                          </a>
                                    </li>

                                    <li class="">
                                          <a href="{% url 'chain:datas' %}">
                                            <span class = "glyphicon glyphicon-cloud" area-hidden = "true" > </span> &nbsp; Data
                                          </a>
                                    </li>


                             </ul>

                             <ul class="nav navbar-nav navbar-right">

                                   <li class="">
                                         <a href="{% url 'chain:AddNode' %}">
                                           <span class = "glyphicon glyphicon-plus" area-hidden = "true" > </span> &nbsp; Add Nodes
                                         </a>
                                   </li>


                                   <li class="">
                                         <a href="{% url 'chain:AddSensor' %}">
                                           <span class = "glyphicon glyphicon-plus" area-hidden = "true" > </span> &nbsp; Add Sensor
                                         </a>
                                   </li>

                                   <li class="">
                                         <a href="{% url 'chain:AddData' %}">
                                           <span class = "glyphicon glyphicon-plus" area-hidden = "true" > </span> &nbsp; Add Data
                                         </a>
                                   </li>

                                   <li class="">
                                         <a href="{% url 'chain:logout' %}">
                                           <span class = "glyphicon glyphicon-off" area-hidden = "true" > </span> &nbsp; Logout
                                         </a>
                                   </li>
                             </ul>

                    </div>
          </nav>


          {% block body  %}

          {% endblock  %}

  </body>
</html>
