
{% extends "chain/base.html" %}

{% block title %}Data{% endblock %}

{% block body %}

<div class="" id="Left_Side">
        {% if mysensors %}

              <h3>Here is your Data Sir --  <br> </h3>
              {% for nodes in mysensors %}

                    {% if nodes.data_set.all %}
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Sr.</th>
                          <th>{{sensor}}</th>
                           <th>Timestamp</th>
                        </tr>
                      </thead>
                      <tbody>
              {% for  node in nodes.data_set.all %}
                    {{sensor.filter.all.count }}
                    {% if forloop.counter < 11 %}
                    <tr>
                      <td>  {{ forloop.counter }}  </td>
                      <td> {{node.data}}  </td>
                      <td> {{node.doc}} </a></td>
                    </tr>
                    {% endif %}
                {%endfor%}
                  </tbody>
                </table>
                    {%endif%}

              {% endfor %}

        {% else %}

            No data In this sensor

        {% endif %}


</div>

{% endblock %}



{% block body_right %}

<div class="" id="Right_Side">

  <!DOCTYPE html>
  <meta charset="utf-8">

  <link type="text/css" rel="stylesheet" href="/static/chain/rickshaw/rickshaw.min.css">
  <script src="/static/chain/rickshaw/vendor/d3.min.js"></script>
  <script src="/static/chain/rickshaw/vendor/d3.layout.min.js"></script>
  <script src="/static/chain/rickshaw/rickshaw.min.js"></script>
  <h3> Graph of the last 20 data </h3>
  <style>
  #chart_container {
          position: relative;
          display: inline-block;
          font-family: Arial, Helvetica, sans-serif;
  }
  #chart {
          display: inline-block;
          margin-left: 40px;
          margin-right: 10px;
          margin-top: 40px;
  }
  #y_axis {
          position: absolute;
          top: 40;
          bottom: 0;
          width: 40px;
  }

  </style>

  <div id="chart_container">
          <div id="y_axis"></div>
          <div id="chart"></div>
  </div>

  <script>

  var palette = new Rickshaw.Color.Palette();

  var arr = [];

  {% for data in mysensor|dictsort:"doc"  %}
    var dict = {};
    dict["x"] = parseInt({{ data.doc|date:"U"}});
    dict["y"] = parseInt({{data.data}});
    arr.push(dict);
  {%endfor%}

  var graph = new Rickshaw.Graph( {
          element: document.querySelector("#chart"),
          width: 550,
          height: 250,
          series: [
                          {

                                  data: arr,
                                  color: palette.color()
                          }

                    ]
  } );

  var x_axis = new Rickshaw.Graph.Axis.Time( { graph: graph } );

  var y_axis = new Rickshaw.Graph.Axis.Y( {
          graph: graph,
          orientation: 'left',
          tickFormat: Rickshaw.Fixtures.Number.formatKMBT,
          element: document.getElementById('y_axis'),
  } );


  graph.render();

  </script>

  <br>
  <br>
  <br>
  <h3>
  {% for nodes in mysensors %}
  <a href ="/chain/test/{{nodes.name}}"> Click </a> Here to download
  your data as .csv file
  {%endfor%}
</h3>

</div>

{% endblock body_right %}
